/******************************************************************

.p-breadcrumb

******************************************************************/
.p-breadcrumb{
  font-size: rem(14);
  line-height: 1;
  color: $text-color;

  @include mq('tab'){
    font-size: rem(16);
  }
}
