/******************************************************************

.p-blog

******************************************************************/
.p-blog__header{
  margin-bottom: rem(30);
  padding-top: rem(10);
  padding-bottom: rem(10);
  padding-right: rem(10);
  padding-left: rem(10);
  position: relative;

  @include mq('tab'){
    margin-bottom: rem(40);
  }
}

.p-blog__header::before{
  content: '';
  display: block;
  width: 100%;
  height: rem(1);
  background-color: #E2E2E2;
  position: absolute;
  bottom: 0;
  left: 0;
}

.p-blog__header::after{
  content: '';
  display: block;
  width: 40%;
  height: rem(1);
  background-color: $coral;
  position: absolute;
  bottom: 0;
  left: 0;
}

.p-blog__category-title{
  font-size: rem(20);
  font-weight: bold;
  line-height: 1;
  color: $text-color;
}

.p-blog__category-title span{
  margin-left: rem(10);
  font-size: rem(18);
  font-weight: normal;
  line-height: 1;
  color: $grayText;
}


/******************************************************************

１カラムと２カラムのリスト。
home.php、category,php、single.php、各ページで繰り返し使用。

******************************************************************/
.p-blog__items{
  @include mq('tab'){
    display: flex;
    flex-wrap: wrap;
  }
}

// スマホ時のmargin-top
.p-blog__item:not(:first-child){
  margin-top: rem(30);
  @include mq('tab'){
    margin-top: 0;
  }
}

//タブレット時の3番目以降のmargin-top
.p-blog__item:nth-child(n+3){
  @include mq('tab'){
    margin-top: rem(30);
  }
}

.p-blog__item{
  @include mq('tab'){
    width: calc(50% - 20px / 2);
  }
}

.p-blog__item:nth-child(odd){
  @include mq('tab'){
    margin-right: rem(20);
  }
}

.p-blog__not-found{
  font-size: rem(14);
  line-height: 1;
  color: $text-color;

  @include mq('tab'){
    font-size: rem(16);
  }
}
