/******************************************************************

.p-blog-card　共通のカード

******************************************************************/
.p-blog-card{
  display: flex;
  flex-direction: column;
}

.p-blog-card__img{
  display: block;
  position: relative;
  overflow: hidden;
}

.p-blog-card__img::before{
  content: '';
  display: block;
  padding-top: 75%;
}

.p-blog-card__img img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-blog-card__body{
  flex: 1;
  padding-top: rem(10);
  padding-bottom: rem(10);
  padding-right: rem(10);
  padding-left: rem(10);
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-blog-card__title{
  font-size: rem(16);
  line-height: 1;
  // font-weight: bold;
  font-weight: normal
}

.p-blog-card__pages{
  margin-top: rem(15);
  font-size: rem(16);
  line-height: 1;
}

.p-blog-card__specification{
  margin-top: rem(15);
  font-size: rem(16);
  line-height: 1;
}

.p-blog-card__category{
  margin-top: rem(15);
  padding-top: rem(5);
  padding-bottom: rem(5);
  padding-right: rem(15);
  padding-left: rem(15);
  display: inline-block;
  font-size: rem(14);
  color: $white;
  line-height: 1;
  // background-color: lightgreen;
  // border-radius: rem(15);
}

.p-blog-card__time{
  margin-top: rem(15);
  display: block;
  font-size: rem(14);
  line-height: 1;
  text-align: right;
}
