/******************************************************************

.p-concept

******************************************************************/
.p-concept{
  padding-top: rem(70);
  padding-bottom: rem(50);
  background-color: $bgWhite;

  @include mq('tab'){
    padding-top: rem(105);
    padding-bottom: rem(70);
  }
}

.p-concept__header{
  margin-top: rem(-100);

  @include mq('tab'){
    margin-top: rem(-230);
  }
}

.p-concept__contents{
  margin-top: rem(40);
  @include mq('tab'){
    margin-top: rem(50);
  }
}

.p-concept__text{
  font-size: rem(14);
  font-weight: normal;
  color: $text-color;
  line-height: 1.8;
  @include mq('tab'){
    font-size: rem(16);
  }
}

.p-concept__text:not(:first-child){
  margin-top: rem(30);
  @include mq('tab'){
    margin-top: rem(35);
  }
}





// .p-concept{
//   position: relative;
// }
// .p-concept::after{
//   content: '';
//   display: block;
//   width: 100%;
//   height: 100vh;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -100;

//   background-image: url(../img/common/wall05.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
  
// }


// .p-works{
//   position: relative;
// }
// .p-works::after{
//   content: '';
//   display: block;
//   width: 100%;
//   height: 100vh;
//   position: absolute;
//   top: 100vh;
//   left: 0;
//   z-index: -100;

//   background-image: url(../img/common/wall02.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
  
// }