/******************************************************************

.p-drawer

******************************************************************/
.p-drawer{
  width: 100%;
  height: 100vh;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transform: translateX(100%);
  transition: all .2s;
}

// .is-slide付与
.p-drawer.is-slide{
  transform: translateX(0);
}

.p-drawer__inner{
  padding-top: rem(20);
  padding-bottom: rem(20);
  overflow: scroll;
}

.p-drawer__item{
  overflow: hidden;
}

.p-drawer__item a{
  padding-top: rem(10);
  padding-bottom: rem(10);
  padding-left: rem(50);
  display: block;
  font-family: $font-family-sub;
  font-size: rem(35);
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.03em;
  color: $text-color;
  text-transform: uppercase;

  opacity: 0;
  transform: translateX(rem(20));
}

// .is-slide付与
.p-drawer.is-slide .p-drawer__item a{
  @include animation(
    $name: fadeRight,
    $duration: .5s,
    $delay: .3s,
  );
}

// sns
.p-drawer__sns-items{
  margin-top: rem(40);
  padding-left: rem(50);
  display: flex;
  align-items: center;
  position: relative;
}

// SNS群
.p-drawer__sns-item:first-child{
  margin-right: rem(20);
}

.p-drawer__sns-item a{
  display: block;
}

.p-drawer__sns-item a img{
  width: rem(40);

  opacity: 0;
  transform: translateY(1em);
}

.p-drawer.is-slide .p-drawer__sns-item a img{
  @include animation(
    $name: emergeUp,
    $duration: .5s,
    $delay: .7s
  );
}
