/******************************************************************

.p-mv トップページ　メインビジュアル

******************************************************************/
.p-mv{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-mv__title{
  font-family: $font-family-sub;
  font-size: rem(50);
  // font-size: 10vw;
  // font-weight: bold;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  @include mq('tab'){
    font-size: rem(80);
  }
}
