/******************************************************************

.p-mv トップページ　メインビジュアル

******************************************************************/
.p-mv{
  width: 100%;
  height: 100vh;
  background-color: $white;
  position: relative;
}

.p-mv__title{
  font-family: $font-family-sub;
  font-weight: bold;
  font-size: rem(30);
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  
  @include mq('tab'){
    font-size: rem(50);
  }
}

.p-mv__title.is-inview{
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.p-mv__scroll{
  position: absolute;
  bottom: rem(0);
  right: rem(16);
  z-index: 200;

  @include mq('tab'){
    font-size: rem(16);
    right: rem(27);
  }
}

.p-mv__img{
  width: 100%;
  height: inherit;
}

.p-mv__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
