/******************************************************************

.p-opening オープニングアニメーション

******************************************************************/
.p-opening{
  width: 100%;
  height: 100%;
  background-color: $white;
  opacity: 1;
  visibility: visible;
}

.p-opening.is-fade{
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.p-opening__box{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-opening__title{
  overflow: hidden;
}

.p-opening__title.is-upFade{
  animation-name: upFade;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.p-opening__title .char{
  display: inline-block;
  font-family: $font-family-sub;
  font-weight: bold;
  font-size: rem(30);
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(50%);

  // @include mq('tab'){
  //   font-size: rem(50);
  // }
}

.p-opening__title.is-accordion .char{
  animation-name: animation-chars;
  animation-duration: .8s;
  animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  animation-fill-mode: both; //開始前に0%状態を待機させる。
}

@for $i from 1 through 13 {
  .p-opening__title.is-accordion .char:nth-child(#{$i}){
    animation-delay: $i * 0.08s;
  }
}

.p-opening__lines{
  height: rem(15);
  position: relative;
}

.p-opening__line-gray{
  display: inline-block;
  width: rem(250);
  height: rem(1);
  // background-color: $bgWhite;
  background-color: #E9E9E9;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0, 1);

  // @include mq('tab'){
  //   width: rem(400);
  // }
}
.p-opening__line-gray.is-stretch{
  animation-name: stretchLine;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: forwards;
}

.p-opening__line-coral{
  display: inline-block;
  width: rem(250);
  height: rem(1);
  background-color: $coral;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0, 1);

  // @include mq('tab'){
  //   width: rem(400);
  // }
}
.p-opening__line-coral.is-stretch{
  animation-name: stretchLine;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
