/******************************************************************

.p-popular よく見られている記事

******************************************************************/
.p-popular__header{
  padding-top: rem(10);
  padding-bottom: rem(10);
  position: relative;
}

.p-popular__title{
  font-size: rem(16);
  font-weight: bold;
  line-height: 1;
  color: $text-color;
}

.p-popular__title::before{
  content: '';
  display: block;
  width: 100%;
  height: rem(1);
  background-color: $gray;
  position: absolute;
  bottom: 0;
  left: 0;
}

.p-popular__title::after{
  content: '';
  display: block;
  width: 40%;
  height: rem(1);
  background-color: $coral;
  position: absolute;
  bottom: 0;
  left: 0;
}

.p-popular__items{
  margin-top: rem(20);
}

.p-popular__item:not(:first-child){
  margin-top: rem(20);
}

