/******************************************************************

p-top-blog

******************************************************************/
.p-top-blog{
  padding-top: rem(50);

  @include mq('tab'){
    padding-top: rem(70);
  }
}

.p-top-blog__header{
  margin-top: rem(-30);
}

.p-top-blog__over-inner{
  margin-top: rem(90);
  padding-bottom: rem(50);
  background-color: $text-color;
  
  @include mq('tab'){
    margin-top: rem(110);
    padding-bottom: 0;
  }
}

.p-top-blog__inner{
  @include mq('tab'){
    display: flex;
    flex-direction: row-reverse;
  }
}

.p-top-blog__swiper{
  transform: translateY(rem(-50));

  @include mq('tab'){
    transform: translateY(rem(-70));
    // width: 50%;
    flex: 1;
  }
  
}

.p-top-blog__box{
  @include mq('tab'){
    width: 40%;
    margin-right: rem(20);
    padding-top: rem(70);
  }
  @include mq('pc'){
    margin-right: rem(30);
  }
}

.p-top-blog__description{
  font-size: rem(14);
  font-weight: normal;
  color: $white;
  @include mq('tab'){
    font-size: rem(16);
  }
}

.p-top-blog__btn{
  margin-top: rem(40);
  text-align: left;

  @include mq('tab'){
    margin-top: rem(80);
  }
}
