/******************************************************************

.p-works-top

******************************************************************/
.p-works-top{
  padding-top: rem(50);
  padding-bottom: rem(50);
  background-color: $white;
  opacity: 0;

  @include mq('tab'){
    padding-top: rem(70);
    padding-bottom: rem(70);
  }
}

.p-works-top.is-inview{
  @include animation($name: fadeIn, $duration: 1.5s);
}

.p-works-top__header{
  margin-top: rem(-20);
}

.p-works-top__contents{
  margin-top: rem(40);
  @include mq('tab'){
    margin-top: rem(50);
  }
}


.p-works-top__btn{
  margin-top: rem(40);
  text-align: right;
  
  @include mq('tab'){
    margin-top: rem(60);
  }
}
