// 色
$white: #fff; // 背景
$black: #000;

// テキスト色
// $text-color: #2f2c2a;
$text-color: #282828;

$coral: #ff4f4f;
$gray: #E2E2E2;
$subTitle: #B4B4B4;
$border: #7F7F7F;

$current: #bdbdbd; //ページナビのcurrent表示部分のカラー

// 背景色
$bgWhite: #F8F8F8;
// $bgBlack: #282828;
$bgGray: #f9f9f9;

// マウスホバー
$opacity: 0.7; // 透過度

// フォント
$font-family-base: 'Noto Sans JP', sans-serif; // ベースフォント。全体へ適用するフォント。
$font-family-sub: 'Oswald', sans-serif; // 英語など適用したい部分に上書きしたいフォント。
$font-size-base: 16px; // ベースフォントサイズ
$font-weight-base: 400; // ベースフォントウェイト
$lh: 1.6; // ベース行間

// レイアウト
$l-tab: 768px; // タブレットサイズ
$l-inner: 960px; // インナー幅
$l-pc: 1260px; // パソコン幅

// ブレークポイント（PC基準）
$breakpoints: (
	"sp": "screen and (min-width: 375px)",
	"tab": "screen and (min-width: #{$l-tab})",
	"pc": "screen and (min-width: #{$l-inner})",
	"lg": "screen and (min-width: #{$l-pc})",
);

// パディング
$padding-sp: 20px; // スマホ
$padding-pc: 25px; // タブレット以降
