/***************************************************************

.c-btn-contact 共通のボタン

***************************************************************/
@use '../global/' as *;

.c-btn-contact{
  padding-top: rem(20);
  padding-bottom: rem(20);
  padding-right: rem(80);
  padding-left: rem(80);
  font-family: $font-family-sub;
  font-size: rem(16);
  line-height: 1;
  letter-spacing: 0.02em;
  color: $text-color;
  border: rem(1) solid $text-color;
  background-color: $white;
  border-radius: rem(9999);
  text-transform: uppercase;
  transition: all .3s;
}

// マウスポインター無効化
input[type=submit].c-btn-contact{
  cursor: none;
}

.c-btn-contact:hover{
  @include mq('tab'){
    opacity: .7;
  }
}

