/******************************************************************

.c-btn-hamburger

******************************************************************/
@use '../global/' as *;

.c-btn-hamburger{
  width: rem(35);
  height: rem(15);
  cursor: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// span 2本ライン
.c-btn-hamburger span{
  width: 100%;
  height: rem(2);
  //mix-blend-modeを効かせるために反転したカラーを指定。
  background-color: $white;
  border-radius: rem(9999);

  transition: all .6s;
}

.c-btn-hamburger span:nth-of-type(1){
  transform: translateY(rem(-5));

  @include animation(
    $name: closeTop,
    $duration: .6s,
  )
}

.c-btn-hamburger span:nth-of-type(2){
  transform: translateY(rem(5));

  @include animation(
    $name: closeBottom,
    $duration: .6s,
  )
}


// is-open付与後の動き
// miz-blend-modeがヘッダーにかかっているので、is-open付与後はbackground-colorを元の色に戻す。
// span 三本ライン
.c-btn-hamburger.is-open span:nth-of-type(1){

  @include animation(
    $name:  openTop,
    $duration: .6s,
  )
}

.c-btn-hamburger.is-open span:nth-of-type(2){

  @include animation(
    $name: openBottom,
    $duration: .6s,
  )
}

