/***************************************************************

.c-btn-allow-left

***************************************************************/
@use '../global/' as *;


// aタグ本体
.c-btn-allow-left{
  display: inline-flex;
  align-items: center;
}

/***************************************************************
円部分
***************************************************************/
.c-btn-allow-left__circle{
  margin-right: rem(20);
  width: rem(80);
  height: rem(80);
  background-color: transparent;
  border: rem(1) solid $coral;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  @include animation(
    $name: circleToSmall,
    $duration: .6s,
    $timing-function: cubic-bezier(0.85, 0, 0.15, 1),
  )
}
.c-btn-allow-left:hover .c-btn-allow-left__circle{
  @include mq('tab'){
    @include animation(
      $name: circleToLarge,
      $duration: .6s,
      $timing-function: cubic-bezier(0.85, 0, 0.15, 1),
    )
  }
}

/***************************************************************
矢印
***************************************************************/
.c-btn-allow-left__allow{
  display: inline-flex;
  align-items: center;
}

// 矢印のライン -
.c-btn-allow-left__allow-line{
  display: block;
  width: rem(15);
  height: rem(2);
  background-color: $text-color;
  transform: translateX(rem(-3));
}


// 矢印の先 <
.c-btn-allow-left__allow-tip{
  display: block;
  width: rem(7);
  height: rem(7);
  border-top: rem(2) solid $text-color;
  border-left: rem(2) solid $text-color;
  transform: translateX(rem(3)) rotate(-45deg);
  
}

// ホバー時の挙動
.c-btn-allow-left:hover .c-btn-allow-left__allow{
  @include mq('tab'){
    @include animation(
      $name: allowFadeLeft,
      $duration: .6s,
      $timing-function: cubic-bezier(0.85, 0, 0.15, 1),
    )
  }
}

/***************************************************************
テキスト部分
***************************************************************/

.c-btn-allow-left__text{
  font-family: $font-family-sub;
  font-weight: 900;
  font-size: rem(16);
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
}

