/******************************************************************

.p-concept

******************************************************************/
@use '../global/' as *;

.c-background-text{
  display: block;
  font-family: $font-family-sub;
  font-weight: 900;
  font-size: 19vw;
  letter-spacing: 0.02em;
  line-height: 0.8;
  color: $white;
  text-transform: uppercase;
  white-space: nowrap;

  @include mq('tab'){
    font-size: rem(190);
  }
}

.c-background-text--gray{
  @extend .c-background-text;

  color: $bgWhite;
}
