/***************************************************************

.c-section-title 共通のセクションタイトル

***************************************************************/
@use '../global/' as *;

.c-section-title{
  padding-left: rem(22);
  font-weight: bold;
  font-size: rem(16);
  line-height: 3;
  color: $text-color;
  position: relative;

  @include mq('tab'){
    padding-left: rem(25);
    font-size: rem(18);
  }
}

// 球
.c-section-title::before{
  content: '';
  display: block;
  width: rem(12);
  height: rem(12);
  background-color: $coral;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
