/******************************************************************

.c-scroll-dows  メインビジュアルのスクロールダウン

******************************************************************/
@use '../global/' as *;

.c-scroll-down{
  padding-top: rem(10);
  padding-bottom: rem(120);
  padding-right: rem(10);
  padding-left: rem(10);
  display: block;
  font-family: $font-family-sub;
  font-weight: 900;
  font-size: rem(14);
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  overflow: hidden;
  
  @include mq('tab'){
    font-size: rem(16);
  }
}

// ライン
.c-scroll-down::before{
  content: '';
  display: block;
  width: rem(1);
  height: rem(100);
  background-color: $bgWhite;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

// 球
.c-scroll-down__circle{
  display: inline-block;
  width: rem(12);
  height: rem(12);
  border-radius: 50%;
  position: absolute;
  top: rem(75);
  left: 50%;
  transform: translateX(-44%);

  @include mq('tab'){
    top: rem(82);
  }

  @include animation(
    $name: circleDown,
    $duration: 3s,
    $iteration-count: infinite
  )
}
