/******************************************************************

.l-404

******************************************************************/
@use '../global/' as *;

.l-404{
  padding-top: rem(50);
  padding-bottom: rem(50);

  @include mq('tab'){
    padding-top: rem(70);
    padding-bottom: rem(70);
  }
}