/******************************************************************

.l-global-container  

最低限の高さを保持するための設定。l-min-height.scssにflex: 1 1 autoを使用。

******************************************************************/
@use '../global/' as *;

.l-global-container{
  // opacity: 0;
}

.l-global-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}