/******************************************************************

.l-opening オープニングアニメーション

******************************************************************/
@use '../global/' as *;

.l-opening{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
}
