/******************************************************************

.l-page-top

******************************************************************/
@use '../global/' as *;

.l-page-top{
  position: fixed;
  bottom: rem(15);
  right: rem(15);
  z-index: 300;

  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.l-page-top.is-top{
  opacity: 1;
  visibility: visible;
}