/******************************************************************

.l-page-top

******************************************************************/
@use '../global/' as *;

.l-page-top{
  position: fixed;
  bottom: rem(20);
  right: rem(20);
  z-index: 300;

  @include mq('tab'){
    bottom: rem(30);
    right: rem(30);
  }
}
