/******************************************************************

.l-sns

******************************************************************/
@use '../global/' as *;

.l-sns{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: rem(22);
  z-index: 300;

  @include mq('tab'){
    right: rem(30);
  }
}
