/******************************************************************

.l-sns

******************************************************************/
.l-sns{
  position: fixed;
  top: rem(90);
  right: rem(22);
  z-index: 300;

  @include mq('tab'){
    top: rem(150);
    right: rem(30);
  }
}
