/******************************************************************

.l-sns

******************************************************************/
.l-sns{
  position: fixed;
  bottom: rem(50);
  right: rem(30);
  z-index: 300;

  @include mq('tab'){
    bottom: rem(100);
    right: rem(60);
  }
}
