/***************************************************************

.c-btn-view 共通のviewボタン

***************************************************************/
// 通常の黒
.c-btn-view{
  padding: rem(10);
  width: rem(150);
  display: inline-block;
  font-family: $font-family-sub;
  font-weight: bold;
  font-size: rem(20);
  line-height: 1;
  letter-spacing: 0.02em;
  color: $text-color;
  border-bottom: rem(1) solid $text-color;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.c-btn-view::after{
  content: '';
  display: inline-block;
  width: rem(7);
  height: rem(7);
  border-bottom: rem(3) solid $text-color;
  border-right: rem(3) solid $text-color;
  position: absolute;
  top: 50%;
  right: rem(10);
  transform: rotate(-45deg) translateY(-50%);
  transition: right .3s;
}

.c-btn-view:hover::after{
  right: rem(5);
}


// 白
.c-btn-view--white{
  @extend .c-btn-view;

  color: $white;
  border-bottom: rem(1) solid $white;
}

.c-btn-view--white::after{
  @extend .c-btn-view::after;

  border-bottom: rem(3) solid $white;
  border-right: rem(3) solid $white;
}