/******************************************************************

.c-btn-scroll メインビジュアルのscrollボタン

******************************************************************/
.c-btn-scroll{
  padding-top: rem(10);
  padding-bottom: rem(110);
  padding-right: rem(10);
  padding-left: rem(10);
  display: inline-block;
  font-family: $font-family-sub;
  font-weight: bold;
  font-size: rem(14);
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  overflow: hidden;

  @include mq('tab'){
    font-size: rem(16);
  }
}
