/***************************************************************

.c-btn 共通のボタン

***************************************************************/
.c-btn{
  padding-top: rem(15);
  padding-bottom: rem(15);
  padding-right: rem(30);
  padding-left: rem(30);
  display: inline-block;
  width: rem(240);
  font-family: $font-family-sub;
  font-size: rem(18);
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.05em;
  color: $text-color;
  background-color: $white;
  border: rem(1) solid $text-color;

  border-radius: rem(30);

  text-align: left;
  text-transform: uppercase;
  position: relative;

  @include mq('tab'){
    padding-top: rem(20);
    padding-bottom: rem(20);
    padding-right: rem(40);
    padding-left: rem(40);
    width: rem(280);
    font-size: rem(22);
    border-radius: rem(40);
  }
}

// 横 -
.c-btn::before{
  content: '';
  display: block;
  width: rem(15);
  height: rem(2);
  background-color: $text-color;
  position: absolute;
  top: 50%;
  right: rem(31);
  transform: translateY(-50%);
  transition: all .3s;

  @include mq('tab'){
    width: rem(18);
    right: rem(41);
  }
}

// 縦 |
.c-btn::after{
  content: '';
  display: block;
  width: rem(15);
  height: rem(2);
  background-color: $text-color;
  
  position: absolute;
  top: 50%;
  right: rem(31);
  transform: translateY(-50%) rotate(90deg);
  transition: all .3s;

  @include mq('tab'){
    width: rem(18);
    right: rem(41);
  }
}

// ホバー時
.c-btn:hover::before{
  transform: translateY(-50%) rotate(180deg);
}
.c-btn:hover::after{
  transform: translateY(-50%) rotate(270deg);
}
