/******************************************************************

.c-category カテゴリー

******************************************************************/
.c-category{
  padding-top: rem(5);
  padding-bottom: rem(5);
  padding-right: rem(15);
  padding-left: rem(15);
  display: inline-block;
  font-size: rem(14);
  color: $white;
  line-height: 1;
}

.c-category--absolute{
  @extend .c-category;
  
  position: absolute;
  top: 0;
  right: 0;
}
