/******************************************************************

.c-line-background scrollボタンの灰色のライン

******************************************************************/
.c-line-background{
  display: block;
  width: rem(1);
  height: rem(100);
  background-color: $bgWhite;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
