/***************************************************************

.c-section-title 共通のh2タイトル

***************************************************************/
.c-section-title{
  font-family: $font-family-sub;
  font-size: rem(48);
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.02em;
  color: $text-color;
  text-transform: uppercase;
  
  @include mq('tab'){
    font-size: rem(80);
  }
}

.c-section-title--white{
  @extend .c-section-title;
  color: $white;
}
