/******************************************************************

.p-404

******************************************************************/
@use '../global/' as *;

.p-404{
  text-align: center;
}

.p-404__title{
  font-size: rem(20);
  line-height: 1;
  color: $text-color;
  font-weight: bold;
  text-align: left;
  
  @include mq('tab'){
    font-size: rem(30);
    text-align: center;
  }
}

.p-404__texts{
  margin-top: rem(40);
  text-align: left;

  @include mq('tab'){
    margin-top: rem(50);
    text-align: center;
  }
}

.p-404__text{
  font-size: rem(14);
  font-weight: normal;
  color: $text-color;

  @include mq('tab'){
    font-size: rem(16);
  }
}

.p-404__text:not(:first-child){
  margin-top: rem(10);

  @include mq('tab'){
    margin-top: rem(20);
  }
}

.p-404__btn{
  margin-top: rem(50);
  text-align: center;

  @include mq('tab'){
    margin-top: rem(60);
  }
}
