/******************************************************************

p-about

******************************************************************/
@use '../global/' as *;

.p-about{
  padding-top: rem(70);
  padding-bottom: rem(50);
  background-color: $bgWhite;
  position: relative;
  z-index: 100;
  opacity: 0;
  
  @include mq('tab'){
    padding-top: rem(105);
    padding-bottom: rem(70);
  }
}

.p-about.is-inview{
  @include animation($name: fadeIn, $duration: 1.5s);
}

.p-about__header{
  position: relative;
}

.p-about__background-text{
  position: absolute;
  top: rem(16);
  left: 0;
  z-index: -100;

  @include mq('tab'){
    top: rem(20);
  }
}

.p-about__contents{
  margin-top: rem(40);

  @include mq('tab'){
    margin-top: rem(50);

    display: flex;
    align-items: center;
  }
}

.p-about__img{
  margin-right: auto;
  margin-left: auto;
  width: rem(270);
  height:rem(270);
  border-radius: 50%;
  overflow: hidden;

  @include mq('tab'){
    margin-right: rem(50);
    margin-left: 0;
  }
  @include mq('pc'){
    margin-right: rem(80);
  }
}

.p-about__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-about__profiles{
  margin-top: rem(40);

  @include mq('tab'){
    margin-top: 0;
  }
}

.p-about__skill{
  margin-top: rem(25);
  @include mq('tab'){
    margin-top: rem(35);
  }
}
