/******************************************************************

.p-cards-list-03  タブレット→２列、パソコン→3列

******************************************************************/
@use '../global/' as *;

.p-cards-list-03{
  @include mq('tab'){
    display: flex;
    flex-wrap: wrap;
  }
}

.p-cards-list-03__card{
  @include mq('tab'){
    width: calc(50% - 20px / 2);
  }
  @include mq('pc'){
    width: calc(100% / 3 - 20px * 2 / 3);
  }
}

// スマホ時のmargin-top
.p-cards-list-03__card:not(:first-child){
  margin-top: rem(50);

  @include mq('tab'){
    margin-top: 0;
  }
}

// タブレット時の左列(奇数)のmargin-right
.p-cards-list-03__card:nth-child(odd){

  @include mq('tab'){
    margin-right: rem(20);
  }
  @include mq('pc'){
    margin-right: 0;
  }
}

//タブレット時の3番目以降のmargin-top
.p-cards-list-03__card:nth-child(n+3){ //n+3...３番目から最後まで。　※-n+3...最初から3番目まで。
  @include mq('tab'){
    margin-top: rem(40);
  }
  @include mq('pc'){
    margin-top: 0;
  }
}

//　パソコン時の左2列のmargin-right
.p-cards-list-03__card:nth-child(3n+1),
.p-cards-list-03__card:nth-child(3n+2){
  @include mq('pc'){
    margin-right: rem(20);
  }
}

//　パソコン時の4番目以降margin-top
.p-cards-list-03__card:nth-child(n+4){
  @include mq('pc'){
    margin-top: rem(40);
  }
}
