/******************************************************************

.p-concept

******************************************************************/
@use '../global/' as *;

.p-concept{
  padding-top: rem(70);
  padding-bottom: rem(50);
  position: relative;
  z-index: 100;
  opacity: 0;

  @include mq('tab'){
    padding-top: rem(105);
    padding-bottom: rem(70);
  }
}

.p-concept.is-inview{
  @include animation($name: fadeIn, $duration: 1.5s);
}

.p-concept::before{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: $bgWhite;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.p-concept__header{
  position: relative;
  z-index: -100;
}

.p-concept__background-text{
  position: absolute;
  top: rem(20);
  left: 0;
  z-index: -100;

  @include mq('tab'){
    top: rem(30);
  }
}
.p-concept__background-text.inview{
  animation-name: fadeUp;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}


.p-concept__contents{
  margin-top: rem(40);

  @include mq('tab'){
    margin-top: rem(50);
  }
}

.p-concept__contents.inview{
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.p-concept__text{
  font-size: rem(14);
  font-weight: normal;
  color: $text-color;
  line-height: 1.8;
  @include mq('tab'){
    font-size: rem(16);
  }
}

.p-concept__text:not(:first-child){
  margin-top: rem(30);
  @include mq('tab'){
    margin-top: rem(35);
  }
}
