/******************************************************************

.p-cards-list-02  スマホ→1列  タブレット→2列

******************************************************************/
@use '../global/' as *;

.p-cards-list-02{
  @include mq('tab'){
    display: flex;
    flex-wrap: wrap;
  }
}

// スマホ時のmargin-top
.p-cards-list-02__card:not(:first-child){
  margin-top: rem(30);
  @include mq('tab'){
    margin-top: 0;
  }
}

//タブレット時の3番目以降のmargin-top
.p-cards-list-02__card:nth-child(n+3){
  @include mq('tab'){
    margin-top: rem(30);
  }
}

.p-cards-list-02__card{
  @include mq('tab'){
    width: calc(50% - 20px / 2);
  }
}

.p-cards-list-02__card:nth-child(odd){
  @include mq('tab'){
    margin-right: rem(20);
  }
}

