/******************************************************************

.p-card-blog　共通のカード

******************************************************************/
@use '../global/' as *;

.p-card-blog{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: rem(5);
  background-color: $white;
}

.p-card-blog__img{
  display: block;
  position: relative;
  overflow: hidden;
}

.p-card-blog__img::before{
  content: '';
  display: block;
  padding-top: 56.25%;
}

.p-card-blog__img img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s;
}

.p-card-blog:hover .p-card-blog__img img{
  @include mq('tab'){
    transform: translateY(-50%) scale(1.1);
  }
}



.p-card-blog__body{
  flex: 1;
  padding-top: rem(10);
  padding-bottom: rem(10);
  padding-right: rem(10);
  padding-left: rem(10);
  // background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-card-blog__title{
  font-weight: bold;
  font-size: rem(16);
  color: $text-color;
  line-height: 1.5;
  letter-spacing: normal;
}


.p-card-blog__content{
  margin-top: rem(15);
  font-weight: normal;
  font-size: rem(14);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $text-color;
}

.p-card-blog__meta{
  margin-top: rem(20);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .p-card-blog__category{
//   display: inline-block;
//   padding-top: rem(5);
//   padding-bottom: rem(5);
//   padding-right: rem(15);
//   padding-left: rem(15);
//   font-weight: normal;
//   font-size: rem(14);
//   color: $white;
//   line-height: 1;
//   letter-spacing: normal;
//   border-radius: rem(9999);
// }

.p-card-blog__time{
  display: block;
  font-weight: normal;
  font-weight: bold;
  font-size: rem(14);
  line-height: 1;
  letter-spacing: normal;
  // color: $text-color;
  color: $grayTime;
  text-align: right;
}

