/******************************************************************

.p-drawer

******************************************************************/
@use '../global/' as *;


.p-drawer{
  width: 100%;
  height: 100vh;
  // background-color: rgba(67, 111, 143, .98);
  background-color: $accentColor;
  display: flex;
  flex-direction: column;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

// .is-slide付与
.p-drawer.is-slide{
  opacity: 1;
  visibility: visible;
}

.p-drawer__inner{
  padding-top: rem(20);
  padding-bottom: rem(20);
  overflow: scroll;
}

.p-drawer__item{
  overflow: hidden;
}
.p-drawer__item:not(:first-child){
  margin-top: rem(20);
}

.p-drawer__item a{
  display: block;
  padding-left: rem(50);
}

.p-drawer__item a span{
  display: inline-block;
  font-family: $font-family-sub;
  font-weight: 900;
  font-size: rem(35);
  line-height: 1;
  letter-spacing: 0.02em;
  color: $white;
  text-transform: uppercase;

  transform: translateY(1em);
}

// ライン
.p-drawer__item a span::after{
  content: '';
  display: block;
  margin-top: rem(-17);
  width: 100%;
  height: rem(2);
  background-color: $white;
  transform: scale(0, 1);
  transition: transform .3s ;
}

// カレント表示
.p-drawer__item.is-current a span::after{
  transform: scale(1, 1);
}


// .is-slide付与
.p-drawer.is-slide .p-drawer__item a span{
  @include animation(
    $name: emergeUp,
    $duration: .5s,
    $delay: .3s,
  )
}

// sns
.p-drawer__sns{
  margin-top: rem(40);
  padding-left: rem(50);
  display: flex;
  align-items: center;
  position: relative;
}

