/******************************************************************

.p-form

******************************************************************/
@use '../global/' as *;

.p-form__content{
  @include mq('tab'){
    display: flex;
    align-items: flex-start;
  }
}

.p-form__content:not(:first-child){
  margin-top: rem(30);
  @include mq('tab'){
    margin-top: rem(60);
  }
}

.p-form__header{
  display: flex;
  align-items: center;
  @include mq('tab'){
    width: 30%;
  }
}

.p-form__title{
  margin-right: rem(20);
  font-size: rem(14);
  line-height: 1;
  @include mq('tab'){
    font-size: rem(16);
  }
}

.p-form__required{
  padding-top: rem(4);
  padding-bottom: rem(4);
  padding-right: rem(14);
  padding-left: rem(14);
  display: inline-block;
  font-size: rem(14);
  line-height: 1;
  color: $white;
  background-color: $coral;
  @include mq('tab'){
    padding-top: rem(5);
    padding-bottom: rem(5);
    padding-right: rem(15);
    padding-left: rem(15);
    font-size: rem(16);
  }
}

.p-form__item{
  margin-top: rem(15);
  @include mq('tab'){
    margin-top: rem(0);
    flex: 1;
  }
}

.p-form__text{
  padding-top: rem(8);
  padding-bottom: rem(8);
  padding-right: rem(10);
  padding-left: rem(10);
  width: 100%;
  font-size: rem(14);
  background-color: $bgWhite;
  @include mq('tab'){
    font-size: rem(16);
  }
}

.p-form__textarea{
  padding-top: rem(8);
  padding-bottom: rem(8);
  padding-right: rem(10);
  padding-left: rem(10);
  width: 100%;
  font-size: rem(14);
  background-color: $bgWhite;
  @include mq('tab'){
    font-size: rem(16);
  }
}

.p-form__btn{
  margin-top: rem(60);
  text-align: center;
  @include mq('tab'){
    margin-top: rem(80);
  }
}
