/******************************************************************

.p-header

******************************************************************/
@use '../global/' as *;

.p-header{
  width: 100%;
  height: rem(80);
  background-color: transparent;
  mix-blend-mode: difference;

  @include mq('tab'){
    height: rem(80);
  }
}

// is-blend付与後mix-blend-modeを解く。
// ドロワーのカラーも反転してしまうため。
// 他の要素も通常のカラーに戻す。
.p-header.is-blend{
  mix-blend-mode: normal;
}

.p-header__inner{
  width: 100%;
  height: inherit;
  padding-right: rem(20);
  padding-left: rem(20);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include mq('tab'){
    padding-right: rem(10);
    padding-left: rem(25);
  }
}

.p-header__global-nav{
  display: none;

  @include mq('tab'){
    display: block;
  }
}

.p-header__hamburger{
	z-index: 500;

  @include mq('tab'){
    display: none;
  }
}
