/******************************************************************

.p-mv-404

******************************************************************/
@use '../global/' as *;

.p-mv-404{
  height: rem(250);
  background-color: $white;

  @include mq('tab'){
    height: rem(350);
  }
}

.p-mv-404__inner{
  padding-top: rem(56);
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mq('tab'){
    padding-top: rem(80);
  }
}

.p-mv-404__title{
  font-family: $font-family-sub;
  font-weight: bold;
  font-size: rem(30);
  line-height: 1;
  letter-spacing: 0.02em;
  color: $text-color;
  text-transform: uppercase;
}
