/******************************************************************

.p-opening-line

******************************************************************/
@use '../global/' as *;

// 赤ライン
.p-opening-line__coral{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: rem(250);
  height: rem(1);
  background-color: $coral;
  transform: scale(0, 1);
}

.p-opening-line__coral.is-stretch{
  @include animation(
    $name: stretchLine,
    $duration: 4.5s,
    $timing-function: cubic-bezier(1, 0, 0, 1),
    $delay: 1s
  );
}
