/******************************************************************

p-price

******************************************************************/
@use '../global/' as *;

.p-price{
  padding-top: rem(50);
  padding-bottom: rem(50);
  // background-color: $white;
  opacity: 0;

  @include mq('tab'){
    padding-top: rem(70);
    padding-bottom: rem(70);
  }
}

.p-price.is-inview{
  @include animation($name: fadeIn, $duration: 1.5s);
}

.p-price__header{
  margin-top: rem(-20);

  @include mq('tab'){
    margin-top: rem(-35);
  }
}

.p-price__description{
  margin-top: rem(40);
  font-weight: normal;
  font-size: rem(14);
  line-height: 1.8;
  letter-spacing: normal;

  @include mq('tab'){
    margin-top: rem(50);
    font-size: rem(16);
  }
}

.p-price__contents{
  margin-top: rem(40);

  @include mq('tab'){
    margin-top: rem(50);
  }
}
