/******************************************************************

.p-pagination

******************************************************************/
@use '../global/' as *;

.p-pagination{
  font-size: rem(14);
  line-height: 1;
  color: $text-color;
  text-align: center;

  @include mq('tab'){
    font-size: rem(16);
  }
}

.p-pagination .page-numbers{
  padding-top: rem(10);
  padding-bottom: rem(10);
  padding-right: rem(10);
  padding-left: rem(10);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p-pagination .page-numbers:not(:last-child){
  margin-right: rem(10);
}

// カレント表示
.p-pagination .page-numbers.current::after{
  content: '';
  display: block;
  margin-top: rem(10);
  width: rem(12);
  height: rem(12);
  background-color: $coral;
  border-radius: 50%;
}

// ホバー時
.p-pagination__inner > a.page-numbers::after{
  content: '';
  display: block;
  margin-top: rem(10);
  width: rem(12);
  height: rem(12);
  background-color: $coral;
  border-radius: 50%;
  // position: absolute;
  // bottom: 0;
  // left: 0;

  // transform-origin: right;
  transform: scale(0);
  transition: transform .3s;
}

.p-pagination__inner > a.page-numbers:hover::after{
  transform: scale(1);
}
