/******************************************************************

p-skill

******************************************************************/
@use '../global/' as *;

.p-skill__title{
  font-family: $font-family-sub;
  font-weight: 900;
  font-size: rem(20);
  line-height: 1;
  letter-spacing: normal;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @include mq('tab'){
    font-size: rem(30);
  }
}

.p-skill__skills{
  margin-top: rem(20);
  font-weight: normal;
  font-size: rem(14);
  line-height: 1.5;
  letter-spacing: normal;

  @include mq('tab'){
    font-size: rem(16);
  }
}
