/******************************************************************

.p-sidebar

******************************************************************/
@use '../global/' as *;

// stickyをかけるためにinnerで囲うk
.p-sidebar__sticky{

  @include mq('tab'){
    position: sticky;
    top: rem(115);
  }
}

.p-sidebar__administrator{
  margin-top: rem(30);

  @include mq('tab'){
    margin-top: rem(40);
  }
}

.p-sidebar__popular{
  margin-top: rem(30);

  @include mq('tab'){
    margin-top: rem(40);
  }
}

.p-sidebar_category{
  margin-top: rem(30);
  
  @include mq('tab'){
    margin-top: rem(40);
  }
}
