/******************************************************************

.p-works-sticky

******************************************************************/
@use '../global/' as *;


.p-works-sticky__item{

  @include mq('tab'){
    position: sticky;
    top: rem(100);
  }
}

.p-works-sticky__btn{
  text-align: center;

  @include mq('tab'){
    text-align-last: left;
  }
}

